# ---------------------------------------------------------------------
# Covers Maven build directory
# ---------------------------------------------------------------------
#
target/
build/
.gradle/
gradle-app.setting
# ---------------------------------------------------------------------
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
# ---------------------------------------------------------------------
#
*.iml
#
## Directory-based project format:
.idea/

#
# ---------------------------------------------------------------------
# Backup files
# ---------------------------------------------------------------------
*.bak
# ---------------------------------------------------------------------
# Logs
# ---------------------------------------------------------------------
*.log
